<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"
package="com.xmcc.androidbasesample">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

<uses-permission
    android:name="android.permission.READ_LOGS"
    tools:ignore="ProtectedPermissions" />

<permission
    android:name="com.xmcc.androidbasesample.COURSE"
    android:label="provider permission"
    android:protectionLevel="normal" />

<permission
    android:name="com.xmcc.androidbasesample.COURSE.READ"
    android:label="provider permission"
    android:protectionLevel="normal" />

<uses-feature
    android:name="android.hardware.bluetooth_le"
    android:required="true" />
<uses-feature
    android:name="android.hardware.camera"
    android:required="false" />

<!--    <queries>-->
<!--        <package android:name="com.xmcc.androidbasesample" />-->
<!--    </queries>-->
<application
    android:name=".App"
    android:allowBackup="true"
    android:icon="@drawable/ic_compose_landing_roadmap"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:networkSecurityConfig="@xml/network_security_config"
    android:theme="@style/Theme.Xmcc.NoActionBar">


    <activity
        android:name="com.cym.home.ui.MainActivity"
        android:exported="true"

        >

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

    </activity>

    <activity
        android:name=".fragment.navigation.deeplink.DeepLinkActivity"
        android:label="@string/title_activity_deep_link"
        tools:ignore="AppLinkUrlError"
        android:theme="@style/Theme.Xmcc.NoActionBar" />
    <activity android:name=".fragment.navigation.nestedgraph.NestedGraphActivity" />
    <activity
        android:name=".fragment.navigation.TestDynamicSchemeActivity"
        android:exported="true">
        <intent-filter tools:ignore="AppLinkUrlError">
            <action android:name="android.intent.action.VIEW" />
            <data
                android:host="example.com"
                android:scheme="https" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity
        android:name=".fragment.navigation.TestSchemeActivity"
        android:exported="true">
        <intent-filter tools:ignore="AppLinkUrlError">
            <action android:name="android.intent.action.VIEW" />

            <data
                android:host="example.com"
                android:scheme="https" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity android:name=".viewbindingtest.ViewBindingInAdapterActivity" />
    <activity
        android:name=".viewbindingtest.ViewBindingTestActivity"
        android:exported="true">
        <intent-filter tools:ignore="AppLinkUrlError">
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data
                android:host="abcd.com"
                android:scheme="https" />
        </intent-filter>
    </activity>
    <activity
        android:name=".fragment.navigation.TestNavigationActivity"
        android:label="@string/title_activity_test_navigation" />
    <activity
        android:name=".fragment.navigation.TestJumpTimeActivity"
        android:theme="@style/Animation2" />
    <activity
        android:name=".fragment.navigation.FragmentNavigationUseActivity"
        android:exported="false"
        android:theme="@style/Animation">
        <nav-graph android:value="@navigation/nav_deeplink" />
    </activity>

    <service
        android:name=".device.bluetooth.BluetoothService"
        android:enabled="true"
        android:exported="true" />

    <activity android:name=".device.bluetooth.BlueToothActivity" />
    <activity
        android:name=".FullscreenActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/app_name"
        android:theme="@style/Theme.Xmcc.Fullscreen">


    </activity>
    <activity
        android:name=".home.HomeActivity"
        android:label="@string/title_activity_home"
        android:theme="@style/Theme.Xmcc.NoActionBar">

    </activity>

    <activity
        android:name="com.tencent.bugly.beta.ui.BetaActivity"
        android:configChanges="keyboardHidden|orientation|screenSize|locale"
        android:theme="@android:style/Theme.Translucent" />

    <activity
        android:name="com.cym.jetpack.workmanager.WorkManagerSampleActivity"
        android:exported="false" />

    <activity
        android:name="com.cym.sunflower.GardenActivity"
        android:exported="false" />
    <activity
        android:name="com.cym.androidx.coordinatorlayout.CoordinatorLayoutSampleActivity"
        android:exported="false" />
    <activity
        android:name="com.cym.androidx.coordinatorlayout.AboutBehaviorActivity"
        android:exported="false" />

    <activity
        android:name="com.cym.androidx.coordinatorlayout.AboutAppBarLayoutActivity"
        android:exported="false" />

    <activity
        android:name="com.cym.androidx.coordinatorlayout.AboutCollapsingToolbarLayout"
        android:exported="false" />
    <activity
        android:name="com.cym.androidx.coordinatorlayout.viewpager2.ViewPager2SampleActivity"
        android:exported="false" />

    <activity
        android:name="com.cym.housedecoration.HouseDecorationListActivity"
        android:exported="false" />
    <activity
        android:name="com.cym.housedecoration.detail.DecorativeMaterialDetailActivity"
        android:exported="false" />

    <activity
        android:name="com.cym.housedecoration.detail.payedhistory.PayedHostoryActivity"
        android:exported="false"
        android:label="@string/title_activity_payed_hostory"
        android:theme="@style/Theme.Xmcc.NoActionBar.NoActionBar" />

    <activity
        android:name="com.cym.androidx.coordinatorlayout.LifecycleTestActivity"
        android:exported="false" />

    <activity
        android:name="com.cym.androidx.coordinatorlayout.startmode.AActivity"
        android:exported="false"
        android:launchMode="standard" />

    <activity
        android:name="com.cym.androidx.coordinatorlayout.startmode.BActivity"
        android:exported="false"
        android:launchMode="singleTop" />

    <activity
        android:name="com.cym.androidx.coordinatorlayout.startmode.CActivity"
        android:exported="false"
        android:launchMode="singleTask" />

    <activity
        android:name="com.cym.androidx.coordinatorlayout.startmode.DActivity"
        android:exported="false"
        android:launchMode="singleInstance" />

    <activity
        android:name="com.cym.sample.persistence.DataStoreActivity"
        android:exported="false" />
    <activity
        android:name="com.cym.sample.persistence.PersistenceSampleActivity"
        android:exported="false" />

    <activity
        android:name="com.cym.sample.flow.FlowSampleActivity"
        android:exported="false" />

    <activity
        android:name="com.cym.sample.contentprovider.ContentProviderSampleActivity"
        android:exported="false" />

    <activity
        android:name="com.cym.sample.binder.StartServiceTestActivity"
        android:exported="false"

        >
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
    </activity>

    <activity
        android:name="com.cym.sample.camera.CameraXSampleActivity"
        android:exported="false"
        />

    <activity
        android:name="com.cym.sample.mediastore.MediaStoreFarseerActivity"
        android:exported="false"
        />
    <activity android:name="com.cym.sample.storage.StorageTestActivity"
        android:exported="false"
        />
    <activity android:name="com.cym.sample.download.FileDownloadActivity"
        android:exported="false"/>

    <service
        android:name="com.cym.sample.binder.RemoteService"
        android:exported="true"
        android:enabled="true">
        <intent-filter>
            <action android:name="com.cym.sample.binder.RemoteService" />
        </intent-filter>
    </service>

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.fileProvider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths" />
    </provider>

    <provider
        android:authorities="com.xmcc.androidbasesample.provider"
        android:name="com.cym.sample.contentprovider.CourseContentProvider"
        android:exported="true"
        android:enabled="true"
        android:permission="com.xmcc.androidbasesample.COURSE"
        android:readPermission="com.xmcc.androidbasesample.COURSE.READ" />

    <receiver
        android:name=".BootReceiver"
        android:exported="false">
        <intent-filter>
            <action android:name="android.intent.action.PACKAGE_ADDED" />
            <action android:name="android.intent.action.PACKAGE_REMOVED" />
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.intent.action.REBOOT" />

            <data android:scheme="package" />
        </intent-filter>
    </receiver>
</application>

</manifest>
